.App {
  text-align: center;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  color: #333333;
}

/* Add styling for the Board component */
.Board-container {
  max-width: 400px;
  margin-top: 20px;
}

.Cell {
  /* Remove background-color property to use the styled component styles */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.Cell.selected {
  background-color: teal; /* Green color for selected cells */
}

/* Add styling for the icons */
.Cell svg {
  font-size: 24px;
  color: #333333;
}

/* Add styling for the border and wrapper */
.border {
  border: 8px solid #643900; /* Adjust the color and thickness as needed */
  padding: 1px; /* Add some padding for space */
  border-radius: 4px;
}
